<!doctype html>
<html>

<head>
    <title>G-Drive File Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body class="bg-dark">
    <div class="container">
        <div class="jumbotron text-center bg-white mt-5 p-5 rounded-3">
            <h1 class="text-dark"><span class="fab fa-google-drive me-3"></span>Welcome Google Drive File Uploader!</h1>
            <a href="<%=url%>" class="btn btn-primary mt-3"><span class="fab fa-google me-3"></span> Sign Up With
                Google</a>
        </div>
    </div>
</body>

</html>
